<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>A+B</title>
        <meta name="description" content="Andrei and Bogdana are leveling up! Welcome to their wedding website!">

        <meta name="viewport" content="width=device-width,initial-scale=1.0" />

        <link rel="stylesheet" href="css/bootstrap.css">

		<!-- For iPhone 4 with high-resolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
        <!-- For first-generation iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
		<link href="http://fonts.googleapis.com/css?family=VT323" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="favicon.ico?v=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main-1.6.css">

        <script src="js/vendor/angular.js"></script>
        <script src="js/vendor/angular-resource.js"></script>
        <script src="js/rsvp.js"></script>
</head>
	<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="bg-image">
            <img src="img/bg-pic.jpg" alt="bg" />
        </div>

        <div id="bg-container">

			<div class="header-container">
                <div id="heading" class="wrapper clearfix">
                    <nav id="nav">
                        <ul>
                            <li><a href="#brideandgroom">DESPRE MIRI</a></li>
                            <li><a href="#wedding">NUNTA</a></li>
                            <li><a href="#accomodations">CAZARE</a></li>
                            <li><a href="#rsvp">CONFIRMARI</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="main-container">
                <div class="main wrapper clearfix">

                    <header>
                        <div id="introtext">
                            <span class="head-brad">Bogdana</span>
                            <span class="head-brad">&nbsp;
                                <span class="amp">&amp;</span>
                                Andrei
                            </span>
                            <div class="date"> -- 17 mai 2014 --</div>

                        </div>
                    </header>

                    <div class="clearfix"></div>

                    <section id="brideandgroom" class="clearfix">

                        <h1>Despre miri</h1>

                        <div class="column left">

                            <h2>
                            <img src="img/bog8bit.jpg" class="thumb" alt="Sarah" /> <br/>BOGDANA</h2>
                            <p>
				<b> * Data nasterii:</b> 01.Noiembrie.1986 <br/>
				<b> * Locul nasterii:</b> Caransebes <br/>
				<b> * Vroia sa devina:</b> astronaut <br/>
				<b> * Studii:</b> Universitatea Politehnica Timisoara <br/>
				<b> * Profesie:</b> Inginer Software <br/>
				<b> * Ii plac: </b> dinozaurii <br/>
				<b> * Nu-i plac: </b> legumele<br/>
				<b> * Nr. de tari vizitate:</b> 18<br/>
			    </p>

                        </div><!--end column-->
                        <div class="column right">

                            <h2>
                            <img src="img/andrei8bit.jpg" class="thumb" alt="Brad" /> <br/>ANDREI</h2>

                            <p>
                                <b> * Data nasterii:</b> 28.Ianuarie.1985 <br/>
				<b> * Locul nasterii:</b> Bucuresti <br/>
				<b> * Vroia sa devina:</b> programator <br/>
				<b> * Studii:</b> Universitatea de Vest Timisoara <br/>
				<b> * Profesie:</b> Inginer Software <br/>
				<b> * Ii plac:</b> excursiile <br/>
				<b> * Nu-i plac:</b> intrebarile despre el<br/>
				<b> * Nr. de tari vizitate:</b> 15<br/>
			    </p>

                        </div><!--end column-->
                    </section>

                    <section id="wedding" class="clearfix">

                        <h1>Nunta</h1>

                        <div class="column left">
                            <h2>PROGRAM</h2>
                            <p>
			        <br>
                                Cununia Civila <br />
                                Data si ora vor fi anuntate ulterior<br /><br />
                                Cununia religioasa <br />
				Sambata, 17 mai 2014, ora 18:40<br /><br />
                                Petrecerea <br />
                                Sambata, 17 mai 2014, ora 20:00<br /><br />
                            </p>
                        </div><!--end column-->

                        <div class="column right">
                            <h2>LOCATII</h2>
                            <p>
			      <br>
                                Casa Casatoriilor <br />
                                Bd. Mihai Eminescu nr.11<br /><br />
                                Catedrala Mitropolitana Timisoara <br />
                                Bd. Regele Ferdinand nr.1 <br /><br />
				Swiss House Club Wedding Hall <br />
                                Bd. Vasile Parvan nr. 1-3<br /><br />
                            </p>

                        </div><!--end column-->

                        <div class="clearfix"></div>
                        <div class="clearfix"></div>

                        <div class="column full">
                            <div class="hr-t"></div>
                            <div class="hr-b"></div>
                        </div>

                        <div class="column full">

                            <h2>HARTA</h2>
                            <div id="gmap">
			      <iframe src="https://mapsengine.google.com/map/embed?mid=z6cRIYabye5c.kyN9CsdcoqkY" width="640" height="480"></iframe>
                                <br />
                                <small><a href="https://mapsengine.google.com/map/edit?mid=z6cRIYabye5c.kyN9CsdcoqkY" target="_blank">Click pentru harta extinsa</a></small>
                            </div>
                        </div>

                    </section>

               <section id="accomodations" class="clearfix">
      		      <div class="column full">
                        <h1>Cazare</h1>

                            <h2>Hotel Alexandra</h2>
                            <p>
			      Str Dr. Pius Branzeu nr.1 (colt Mures 146)<br />
			      300778, Timisoara <br/>
			      GPS: 45.728143° N, 21.244081° E </br>
			      <a href="http://www.hotelalexandra.ro">www.hotelalexandra.ro</a>
                            </p>
			    <br/><br/>
			    <img src="img/hotel_alex.jpg" alt="Hotel">

                        </div>

                        <div class="column full">
                            <div class="hr-t"></div>
                            <div class="hr-b"></div>
                        </div>

                    <div class="clearfix"></div>
                 </section>

				 <section id="rsvp" class="clearfix" ng-app="rsvp" ng-controller="RsvpCtrl">
      		      <div class="column full">
                  	<h1>Confirmare</h1>
					<script type="text/javascript">var submitted=false;</script>
					<form name="rsvpForm" novalidate class="form-horizontal">

					<div class="form-group" ng-class="{'has-error': rsvpForm.name.$invalid && rsvpForm.name.$dirty}">
						<label class="control-label col-sm-2" for="name">Nume</label>
						<div class="col-sm-4">
							<input class="form-control" type="text" required name="name" ng-model="rsvp.name" id="name"/>
						</div>
						<span class="help-block muted" ng-show="rsvpForm.name.$invalid">
							Câmp obligatoriu
						</span>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="presence_yes">Pot să vin</label>
						<div class="col-sm-2">
						<label class="radio-inline">
							<input class="form-control" id="presence_yes" type="radio" required name="presence" value="1" ng-model="rsvp.presence" />
							Da
						</label>
						<label class="radio-inline">
							<input class="form-control" id="presence_no" type="radio" required name="presence" value="0" ng-model="rsvp.presence"/>
							Nu
						</label>
						</div>
						<span class="help-block muted" ng-show="rsvpForm.presence.$invalid">
							Câmp obligatoriu
						</span>
					</div>

					<div ng-show="rsvp.presence">

					<div class="form-group" ng-class="{'has-error': rsvpForm.person_count.$invalid && rsvpForm.person_count.$dirty}">
						<label class="control-label col-sm-2" for="person_count">Număr persoane</label>
						<div class="col-sm-4">
							<input class="form-control" id="person_count" type="number" min="1" name="person_count" ng-model="rsvp.person_count"/>
						</div>
						<span class="help-block" ng-show="rsvpForm.person_count.$error.number && rsvpForm.person_count.$dirty">
							Trebuie să fie un număr
						</span>
						<span class="help-block" ng-show="rsvpForm.person_count.$error.min && rsvpForm.person_count.$dirty">
							Trebuie să fie un număr pozitiv :)
						</span>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="vegetarian">Meniu vegetarian</label>
						<div class="col-sm-4">
							<label class="radio-inline" for="vegetarian_yes">
								<input class="form-control" id="vegetarian_yes" type="radio"  name="vegetarian" value="1" ng-model="rsvp.vegetarian"/>
							Da
							</label>
							<label class="radio-inline" for="vegetarian_no">
								<input class="form-control" id="vegetarian_no" type="radio"  name="vegetarian" value="0" ng-model="rsvp.vegetarian"/>
							Nu
							</label>
						</div>
					</div>

					<div class="form-group" ng-show="rsvp.vegetarian" ng-class="{'has-error': rsvpForm.vegetarian_count.$invalid && rsvpForm.vegetarian_count.$dirty}">
						<label class="control-label col-sm-2" for="name">Număr meniuri</label>
						<div class="col-sm-4">
							<input class="form-control" type="number" min="1" name="vegetarian_count" ng-model="rsvp.vegetarian_count"/>
						</div>
						<span class="help-block" ng-show="rsvpForm.vegetarian_count.$error.number && rsvpForm.vegetarian_count.$dirty">
							Trebuie să fie un număr
						</span>
						<span class="help-block" ng-show="rsvpForm.vegetarian_count.$error.min && rsvpForm.vegetarian_count.$dirty">
							Trebuie să fie un număr pozitiv :)
						</span>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="accomodation">Am nevoie de cazare</label>
						<div class="col-sm-4">
							<label class="radio-inline" for="accomodation_yes">
								<input  class="form-control" id="accomodation_yes" type="radio"  name="accomodation" value="1" ng-model="rsvp.accomodation"/>
							Da
							</label>
							<label class="radio-inline" for="accomodation_no">
								<input class="form-control" id="accomodation_no" type="radio"  name="accomodation" value="0" ng-model="rsvp.accomodation"/>
							Nu
							</label>
						</div>
					</div>

					<div class="form-group" ng-show="rsvp.accomodation"  ng-class="{'has-error': rsvpForm.accomodation_count.$invalid && rsvpForm.accomodation_count.$dirty}">
						<label class="control-label col-sm-2" for="accomodation_count">Număr camere duble</label>
						<div class="col-sm-4">
							<input class="form-control" type="text"  name="accomodation_count" id="accomodation_count" ng-model="rsvp.accomodation_count"/>
						</div>
						<span class="help-block" ng-show="rsvpForm.accomodation_count.$error.number && rsvpForm.accomodation_count.$dirty">
							Trebuie să fie un număr
						</span>
						<span class="help-block" ng-show="rsvpForm.accomodation_count.$error.min && rsvpForm.accomodation_count.$dirty">
							Trebuie să fie un număr pozitiv :)
						</span>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Melodia preferată</label>
						<div class="col-sm-4">
							<input class="form-control" type="text"  name="song" ng-model="rsvp.song"/>
						</div>
					</div>
				</div>

				<button class="col-sm-offset-2 btn btn-primary" id="submit" ng-click="submit(rsvp)" ng-disabled="!rsvpForm.$valid || submitted" value="Trimite">Trimite</button>
				</form>
				</div>
					<div class="column full">
                            <p align="center">
                            Ne puteti contacta la <a href="mailto:bogdana.elena.popa@gmail.com" class="email" target="_blank">bogdana.elena.popa@gmail.com</a> <br />
                            </p>
                        </div><!--end column-->
                 </section>
                    <div style="height: 300px"></div>

                </div> <!-- #main -->
            </div> <!-- #main-container -->
        </div> <!-- #bg-container -->

        <script src="js/main-1.6.js"></script>

        <script>
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-1975046-12']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
	</body>
</html>
